.funni-title{
    text-align: center;
    font-family: "Comic Sans MS";
    color: yellow;
}
.funni-text{
    font-family: "Comic Sans MS";
    color:hotpink;
}
.funni-texto{
    font-family: "Comic Sans MS";
    color: yellow;
}
.gracioso-texto{
    font-family: "Comic Sans MS";
    color: rgb(90, 210, 214);
}
